body {
	background-image: url("./images/bg_back.gif");
    background-repeat: repeat-x;
    font-family: sans-serif;
}


@media only screen and (min-width: 700px), only screen and (min-device-width: 700px) {
    #unilang-logo {
        display: block;
        background-image: url("./images/logo.png");
        background-size: 320px 120px;
        background-repeat: no-repeat;
        width: 320px;
        height: 120px;
        min-width: 320px;
        min-height: 120px;
        margin-top: -70px;
        margin-left: auto;
        margin-right: auto;
        cursor: pointer;
    }

    h1#title {
        display: block;
        text-align: center;
        color: #4d4d41;
        width: 100%;
        font-weight: normal;
    }

    #wrap {
        margin-top: 50px;
    }
    #page-body {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 700px), only screen and (max-device-width: 700px) {
    #unilang-logo {
        display: block;
        background-image: url("./images/logo.png");
        background-size: 160px 60px;
        background-repeat: no-repeat;
        width: 160px;
        height: 60px;
        min-width: 160px;
        min-height: 60px;
        margin-left: auto;
        margin-right: auto;
        cursor: pointer;
    }
    h1#title {
        display: none;
    }
}

h1#title span {
    color: #88b4db;
}

a.subforum {
    display: inline-block;
    width: 320px;
    font-size: 8pt;
} 
a.subforum img {
    height: 10px;
}
div.subforums strong { /* subforums label */
    display: block;
}
div.subforums { /* hides the commas between subforums */
    color: transparent;
}
#search-box {
    margin-top: 0px;
}
@media only screen and (min-width: 700px), only screen and (min-device-width: 700px) {
    div.subforums { 
        width: 200%;
    }
    #wrap {
        background-image: url("./images/hellocorner.png");
        background-repeat: no-repeat;
        max-width: 1024px;
        background-size: 240px auto;
    }
    h1#title {
        margin-bottom: 30px;
    }
    .navbar {
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }
}
@media only screen and (max-width: 700px), only screen and (max-device-width: 700px) {
    div.subforums { 
        width: 120%;
    }
}
.responsive-menu-link {
    font-weight: bold;
    color: #abcce8;
    font-size: 120px;
}

/* Custom BBCode classes */
.Arab_big {
    /* Use special Arabic fonts whenever possible */
    font-family: Amiri,'Arabic Transparent','Droid Arabic Naskh',Scheherazade,Lateef,'Segoe UI','Sakkal Majalla','Microsoft Uighur','Arabic Typesetting',sans-serif;
    font-size: 20px;
    line-height: 1.6em;
}
.Hans_big, .Hant_big, .Japn_big {
    font-size: 15px;
    line-height: 1.6em;
}
.Thai_big, .Deva_big {
    font-size: 16px;
    line-height: 1.5em;
}
.ipa-text {
    /* Prefer SIL fonts for IPA transcription */
    font-family: 'Charis SIL','Doulos SIL','Gentium Plus','Arial Unicode MS',sans-serif;
    font-size: 13px;
    line-height: 1.5em;
}

/* fixes */

.username {
    padding-left: 2px;
}
