<!-- IF BH_MESSAGE -->
<div class="panel bg2" style="background-color: {BH_STYLE};">
	<div class="inner bh">
		<span>{BH_MESSAGE}</span>
	</div>
</div>

<!-- ELSEIF S_SHOW_BH -->
<div class="panel bg2">
	<p class="bh bh-click">{L_BH_THIS_USER}</p>
	<div class="inner" id="bh-options" style="display: none;">
		<form id="bh-form" method="post" action="{U_HAMMERBAN}">
			<fieldset>
				<dl class="bg2 bh_hover">
					<dt><label>{L_BH_BAN_EMAIL}{L_COLON}</label></dt>
					<dd>
						<label><input type="radio" class="radio" name="ban_email" value="1" <!-- IF BH_BAN_EMAIL -->checked="checked"<!-- ENDIF -->/> {L_YES}</label> &nbsp;
						<label><input type="radio" class="radio" name="ban_email" value="0" <!-- IF not BH_BAN_EMAIL -->checked="checked"<!-- ENDIF -->/> {L_NO}</label>
					</dd>
				</dl>			
				<dl class="bg2 bh_hover">
					<dt><label>{L_BH_BAN_IP}{L_COLON}</label><br /><span>{L_BH_BAN_IP_EXPLAIN}</span></dt>
					<dd>
						<label><input type="radio" class="radio" name="ban_ip" value="1" <!-- IF BH_BAN_IP -->checked="checked"<!-- ENDIF -->/> {L_YES}</label> &nbsp;
						<label><input type="radio" class="radio" name="ban_ip" value="0" <!-- IF not BH_BAN_IP -->checked="checked"<!-- ENDIF -->/> {L_NO}</label>
					</dd>
				</dl>
				<dl class="bg2 bh_hover">
					<dt><label>{L_BAN_LENGTH}{L_COLON}</label><br /><span>{L_BAN_LENGTH_EXPLAIN}</span></dt>
					<dd>
						<select name="ban_time" id="ban_time">{BAN_TIME}</select>
					</dd>
				</dl>					
				<dl class="bg2 bh_hover">
					<dt><label>{L_BH_DEL_POSTS}{L_COLON}</label></dt>
					<dd>
						<label><input type="radio" class="radio" name="del_posts" value="1" <!-- IF BH_DEL_POSTS -->checked="checked"<!-- ENDIF -->/> {L_YES}</label> &nbsp;
						<label><input type="radio" class="radio" name="del_posts" value="0" <!-- IF not BH_DEL_POSTS -->checked="checked"<!-- ENDIF -->/> {L_NO}</label>
					</dd>
				</dl>
				<dl class="bg2 bh_hover">
					<dt><label>{L_BH_DEL_PRIVMSGS}{L_COLON}</label></dt>
					<dd>
						<label><input type="radio" class="radio" name="del_privmsgs" value="1" <!-- IF BH_DEL_PRIVMSGS -->checked="checked"<!-- ENDIF -->/> {L_YES}</label> &nbsp;
						<label><input type="radio" class="radio" name="del_privmsgs" value="0" <!-- IF not BH_DEL_PRIVMSGS -->checked="checked"<!-- ENDIF -->/> {L_NO}</label>
					</dd>
				</dl>
				<dl class="bg2 bh_hover">
					<dt><label>{L_BH_DEL_AVATAR}{L_COLON}</label></dt>
					<dd>
						<label><input type="radio" class="radio" name="del_avatar" value="1" <!-- IF BH_DEL_AVATAR -->checked="checked"<!-- ENDIF -->/> {L_YES}</label> &nbsp;
						<label><input type="radio" class="radio" name="del_avatar" value="0" <!-- IF not BH_DEL_AVATAR -->checked="checked"<!-- ENDIF -->/> {L_NO}</label>
					</dd>
				</dl>
				<dl class="bg2 bh_hover">
					<dt><label>{L_BH_DEL_SIGNATURE}{L_COLON}</label></dt>
					<dd>
						<label><input type="radio" class="radio" name="del_signature" value="1" <!-- IF BH_DEL_SIGNATURE -->checked="checked"<!-- ENDIF -->/> {L_YES}</label> &nbsp;
						<label><input type="radio" class="radio" name="del_signature" value="0" <!-- IF not BH_DEL_SIGNATURE -->checked="checked"<!-- ENDIF -->/> {L_NO}</label>
					</dd>
				</dl>
				<dl class="bg2 bh_hover">
					<dt><label>{L_BH_DEL_PROFILE}{L_COLON}</label></dt>
					<dd>
						<label><input type="radio" class="radio" name="del_profile" value="1" <!-- IF BH_DEL_PROFILE -->checked="checked"<!-- ENDIF -->/> {L_YES}</label> &nbsp;
						<label><input type="radio" class="radio" name="del_profile" value="0" <!-- IF not BH_DEL_PROFILE -->checked="checked"<!-- ENDIF -->/> {L_NO}</label>
					</dd>
				</dl>
				<!-- IF L_BH_MOVE_GROUP -->
				<dl class="bg2 bh_hover">
					<dt><label>{L_BH_MOVE_GROUP}{L_COLON}</label></dt>
					<dd>
						<label><input type="radio" class="radio" name="move_group" value="1" checked="checked" /> {L_YES}</label> &nbsp;
						<label><input type="radio" class="radio" name="move_group" value="0" /> {L_NO}</label>
					</dd>
				</dl>
				<!-- ENDIF -->
				<!-- IF S_BH_SFS -->
				<dl class="bg2 bh_hover">
					<dt><label>{L_SFS_REPORT}{L_COLON}</label></dt>
					<dd>
						<label><input type="radio" class="radio" name="sfs_report" value="1" checked="checked" /> {L_YES}</label> &nbsp;
						<label><input type="radio" class="radio" name="sfs_report" value="0" /> {L_NO}</label>
					</dd>
				</dl>
				<!-- ENDIF -->
				<dl>
					<dt><label>{L_BH_BAN_REASON}{L_COLON}</label></dt>
					<dd><input name="bh_reason" type="text" class="text medium" maxlength="255" /></dd>
				</dl>
				<dl>
					<dt><label>{L_BH_BAN_GIVE_REASON}{L_COLON}</label></dt>
					<dd><input name="bh_reason_user" type="text" class="text medium" maxlength="255" /></dd>
				</dl>
			</fieldset>
			<fieldset class="submit-buttons">
				<input class="button1" type="submit" id="submit" name="submit" value="{L_SUBMIT}" />&nbsp;
				<input class="button2" type="reset" id="reset" name="reset" value="{L_RESET}" />
			</fieldset>
		</form>
	</div>
</div>
<!-- ENDIF -->
