<!-- INCLUDE ucp_header.html -->

<form id="ucp" method="post" action="{S_UCP_ACTION}" {S_FORM_ENCTYPE}>

<h2>{L_LOCATION}</h2>


<div class="panel">
        <div class="inner">
        <fieldset>

            <dl>
                <dt><label for="nationality">{L_NATIONALITY}:</label></dt>
                <dd><select name="nationality" id="nationality" style="width: 350px">{NATIONALITY}</select></dd>
            </dl>
            <dl>
                <dt><label for="country">{L_COUNTRY}:</label></dt>
                <dd><!-- IF S_IE --><select name="country" id="country" onpropertychange="update_regions('country','region')" onkeyup="update_regions('country','region')"  style="width: 350px"><!-- ELSE --><select name="country" id="country" onchange="update_regions('country','region')" onkeyup="update_regions('country','region')"  style="width: 350px"><!-- ENDIF -->{COUNTRY}</select></dd>
            </dl>
            <dl>
                <dt><label for="region">{L_REGION}:</label></dt>
                <dd><select name="region" id="region" style="width: 350px">{REGION}</select></dd>
            </dl>
        </fieldset>
        </div>
</div>


<h2>{L_LANG_TITLE}</h2>

<div class="panel">
        <div class="inner">

    
	<table>
	 <tr><th style="padding: 2px;"></th><th style="padding: 2px;">{L_LANGUAGE}</th><th style="padding: 2px;">{L_PROFICIENCY}</th><th style="padding: 2px;"></th></tr>
	 <!-- BEGIN languages -->
		<tr {languages.ROWSTYLE}><td>{languages.ICON}</td><td><a href="{languages.U_SEARCHLINK}">{languages.NAME}</a></td><td>{languages.STARS} <span style="font-size: 90%">{languages.PROFICIENCY} {languages.PROF_TEXT} </span></td><td> [ <a href="{languages.U_DELETELINK}">{L_DELETE}</a> ]</td></tr>
	 <!-- END languages -->
	</table>


    <h3>{L_ADDLANGUAGE}</h3>


 	<fieldset>
	<dl>
		<dt><label for="langcode">{L_LANGUAGE}:</label></dt>
		<dd>
			<select name="langcode" style="width: 350px">{LANGLIST}</select>
		</dd>
	</dl>
	<dl>
		<dt><label for="proficiency">{L_PROFICIENCY}:</label></dt>
		<dd><select name="proficiency">{PROFLIST}</select></dd>
	</dl>
	<dl>
		<dt></dt>
		<dd>
			<input type="checkbox" style="width: 15px;" name="wanthelp" value="1" <!-- IF LANGEDIT_WANTHELP -->checked="checked"<!-- ENDIF --> /> {L_WANTHELP}<br />
			<input type="checkbox" style="width: 15px;" name="canhelp" value="1" <!-- IF LANGEDIT_CANHELP -->checked="checked"<!-- ENDIF --> /> {L_CANHELP}<br />
		</dd>
	</dl>

	</fieldset>

    </div>
</div>

<!-- IF not S_LANGEDIT_SUBMITTED -->
<fieldset class="submit-buttons">
        <input type="hidden" name="submitted" value="1" />
        <input type="hidden" name="mode" value="view" /><!-- This is the only mode -->

        {S_HIDDEN_FIELDS}<input type="reset" value="{L_RESET}" name="reset" class="button2" />&nbsp; 
        <input type="submit" name="submit" value="{L_SUBMIT}" class="button1" />
        {S_FORM_TOKEN}
</fieldset>
<!-- ENDIF -->
</form>

<!-- INCLUDE ucp_footer.html -->
